html {
    scroll-behavior: smooth;
}

.disable-scrollbar {
    scrollbar-width: none;
}

.disable-scrollbar::-webkit-scrollbar {
    display: none;
}

.recharts-pie-sector {
  transition: fill 0.3s ease;
}
